a:link{
  color: rgb(11, 1, 1);
}
a:hover{
  color: yellow;
}
a:focus{
  color: rgb(168, 22, 22);
}
.color{
  color: rgb(7, 4, 4); 
  font-weight: 500;
 font-style: oblique;
 margin-left: 45px;  
}
.padre{
height: 700px;
border: 1px solid rgb(171, 159, 151);
background-size: 100%;
background: linear-gradient(rgba(233, 226, 224, 0.2), rgba(236, 234, 234, 0.2)), url('./media/seul.webp');
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
background-position: center;
}
.red{
  color: rgb(132, 15, 15);
}
.ansa{
  color: rgb(7, 4, 4); 
  font-size: 60px; 
  top: 70px;
}

  h1, h2, h3, h4{
    font-family: "Anton SC", sans-serif;
    font-size: 45px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;  
  }
  *{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font: size 18px;
  text-align: justify;
  line-height: 17px;
  left: 15px;
  right: 25px;
  }
  
  section{
    background: linear-gradient(rgb(174, 169, 169), rgb(179, 190, 179), rgb(104, 104, 150));
  }
  .virtual{
    font-size: 50px
  }
  nav{
    height: 150px;
    background-color: rgb(171, 159, 151);
    position: sticky;
    left: 30px;
    
  }
  
  
  
  